@font-face {
  font-family: "MuliRegular";
  src: url("/assets/fonts/Muli-Regular.woff");
}
@font-face {
  font-family: "MuliBold";
  src: url("/assets/fonts/Muli-Bold.woff");
}
@font-face {
  font-family: "MuliExtraBold";
  src: url("/assets/fonts/Muli-ExtraBold.woff");
}
@font-face {
  font-family: "MuliExtraBoldItalic";
  src: url("/assets/fonts/Muli-ExtraBoldItalic.woff");
}
@font-face {
  font-family: "PoppinsMedium";
  src: url("/assets/fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("/assets/fonts/Poppins-SemiBold.ttf");
}
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 12px;
  font-family: "Muli", sans-serif;
  font-weight: 400;
  text-align: left;
}
.header__img {
  background-image: url(../assets/images/header-img.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.header__top-inner {
  padding-bottom: 70px;
  height: 100%;
  border: 1px solid;
}
.header__burgher-btn {
  display: none;
  width: 50px;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999999;
  border: solid 1px;
}
.header__burgher-btn-icon {
  width: 100%;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  padding: 90px 0 110px;
  /* border: 1px solid; */
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: solid 1px;
}
.header__btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: -27px;
  border: solid 1px;
}
button {
  background-color: transparent;
  border: none;
}
.header__icon {
  /* border: 1px solid red; */
  color: red;
}
.menu__list {
  list-style: none;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
}
.menu {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.menu__item {
  margin-right: 35px;
}
.menu__link {
  /* border: 1px solid red; */
  color: #ffffff;
}
.container__details {
  display: flex;
  align-items: center;
  padding-right: 30px;
}
.personal {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.personal__list {
  list-style: none;
  display: flex;
  align-items: center;
}
.personal__icon-search {
  margin-left: 35px;
}
.logo {
  width: 211px;
  height: 72px;
  position: absolute;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  border: solid 1px;
}
.btn--green-bg {
  background-color: #0aa566;
  border-radius: 35px;
  width: 223px;
  height: 71px;
}
.social__list {
  /* border: 1px solid red; */
  list-style: none;
  display: flex;
}
.social__link {
  display: flex;
  justify-content: center;
  width: 28px;
  align-items: center;
  height: 28px;
  background-color: white;
  border-radius: 50%;
  margin-left: 11px;
}
.social {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
p {
  line-height: 20px;
  padding-top: 40px;
}
.smoothies {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 860px;
  border: solid 1px;
}
.smoothies__tittle {
  font-size: 50px;
  line-height: 0.8;
  margin-top: 65px;
}
.smoothies__description {
  text-align: center;
  line-height: 1.94;
  max-width: 920px;
  font-family: Muli-Regular;
  font-size: 18px;
  margin-bottom: 65px;
}
.smoothies__icon {
  padding-bottom: 10px;
}
.smoothies__name {
  width: 25%;
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.smoothies__features {
  max-width: 960px;
  max-height: 380px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: solid 1px;
  width: 1010px;
}
.smoothies__sub-title {
  font-size: 20px;
}
h2 {
  color: #f7ae3b;
}
h4 {
  color: #f2612d;
}
.blog__text-title {
  color: #f2612d;
}
.about {
  display: flex;
  align-items: center;
  background-color: #128373;
  border: solid 1px;
}
.about__content {
  margin-left: 255px;
  border: solid 1px;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  position: relative;
}
.about__content::after {
  content: "";
  width: 462px;
  height: 12px;
  background-image: url(/assets/images/greenLine.png);
  position: absolute;
  background-size: cover;
  top: 75px;
  left: 69px;
}
.about__title {
  font-size: 30px;
  color: #ffffff;
  border: solid 1px;
}
.about__drink {
  color: #cae941;
  font-family: MuliExtraBoldItalic;
}
.about__inner {
  margin-top: 101px;
  border: solid 1px;
}
.about__item {
  color: #ffffff;
  font-style: normal;
}
.about_text--bolder {
  font-weight: bolder;
}
.about__list {
  list-style: none;
  border: solid 1px;
  line-height: 2.05;
  padding: 50px 0 100px 0;
}
.about__btn-green {
  margin: 96px;
  height: 60px;
  background-color: #128373;
  border-radius: 35px;
  width: 334px;
  border: solid 1px;
  width: 310px;
}
.products {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-around;
  align-content: stretch;
}
.products__item {
  width: 25%;
  display: flex;
  flex-direction: column;
  padding: 100px 0;
  align-items: center;
}
.products__item--chocolate {
  background-color: #662f14;
}
.products__item--lettuce {
  background-color: #158775;
}
.products__item--ginger {
  background-color: #fbb040;
}
.products__item--turmeric {
  background-color: #c24b18;
}
.products__title {
  padding-top: 15px;
  color: white;
  font-size: 18px;
}
.product__sub--title {
  color: white;
  padding-bottom: 30px;
  font-style: italic;
  padding-top: 5px;
}
.products__btn {
  border: 1px solid white;
  border-radius: 30px;
  height: 60px;
  width: 202px;
  bottom: 77px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.story {
  display: flex;
  justify-content: center;
  margin: 120px 0px 150px 0;
  border: solid 1px;
}
.story__inner {
  border: 1px solid black;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 205px;
  width: 520px;
}
.story__title {
  font-size: 50px;
  text-align: start;
  border: solid 1px;
}
.story__text {
  text-align: start;
  font-size: 18px;
  border: solid 1px;
  text-align: left;
  line-height: 1.94;
}
.story__icon {
  position: relative;
}
.story__btn-wrapper {
  height: 60px;
  border: 2px solid black;
  margin-top: 57px;
}
.story__btn-green {
  background-color: #158775;
  border: 1px solid;
  width: 302px;
  height: 60px;
  color: white;
  border-radius: 35px;
}
.story__img {
  position: relative;
}
.story__img::before {
  border: solid 1px;
  margin-right: 280px;
  content: "";
  width: 290px;
  height: 216px;
  background-size: cover;
  position: absolute;
  background-image: url(/assets/images/Stamp-sunny-text.png);
  z-index: 55;
  right: 186px;
}
.testimonials {
  height: 720px;
  border: solid 1px;
  background-color: #672f1b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.testimonials__items::before {
  content: "";
  width: 764px;
  height: 150px;
  background-image: url(/assets/images/sarah-a-png.png);
  top: -35px;
  right: 125px;
  position: absolute;
  z-index: -1;
}
.testimonials__items::after {
  content: "";
  width: 410px;
  height: 300px;
  background-image: url(/assets/images/Dots-img.png);
  position: absolute;
  top: -384px;
  right: -560px;
}
.testimonials__title {
  font-family: Muli-ExtraBold;
  font-size: 50px;
}
.testimonials__items {
  display: flex;
  justify-content: center;
  margin: 123px 0 70px 0;
  position: relative;
  z-index: 3;
}
.testimonials__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 50px;
  padding-top: 60px;
}
.testimonials__inner {
  border: solid 1px;
  margin-top: 123px;
}
.testimonials__cite-text {
  border: solid 1px;
  width: 450px;
  font-family: Muli-Regular;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  line-height: 35px;
}
.testimonials__Love {
  color: #f2612d;
}
.testimonials__cite-autor {
  border: solid 1px;
  color: orange;
  margin-top: 30px;
  font-family: PoppinsSemiBold;
}
.testimonials__btn--yellow {
  border: solid 1px;
  width: 34px;
  margin-left: 100px;
}
.testimonials__btn--yellowLeft {
  border: solid 1px;
}
.testimonials__button {
  border: solid 1px;
}
.blog {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: MuliExtraBold;
}
.blog__inner {
  border: solid 1px;
  display: flex;
  position: relative;
  margin-bottom: 195px;
}
.blog__inner::before {
  content: "";
  display: inline-block;
  background-image: url(/assets/images/long-line-orange-png.png);
  position: absolute;
  z-index: -777;
  width: 650px;
  height: 10px;
  top: 60px;
  left: 518px;
}
.blog__title {
  border: solid 1px;
  font-size: 50px;
  margin: 100px 955px 0 0;
}
.blog__text {
  border: solid 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 60px;
}
.blog__img {
  border: solid 1px;
}
.blog__text-title {
  border: solid 1px;
  font-size: 25px;
}
.blog__sub-title--sup {
  border: solid 1px;
  font-size: 16px;
  margin-top: 15px;
}
.blog__sub-title {
  border: solid 1px;
  line-height: 1.94;
  text-align: left;
}
.blog__sub--title {
  border: solid 1px;
  width: 470px;
  margin-left: 80px;
  font-size: 18px;
  font-family: MuliBold;
}
.blog__link {
  border: solid 1px;
}
.blog__btn--white {
  font-family: MuliExtraBoldItalic;
}
.blog__img--orange {
  margin-left: 5px;
}
.instagram__inner {
  display: flex;
  border: solid 1px;
}
.instagram__social-img {
  flex: 0 1 20%;
}
.instagram__img {
  width: 100%;
}
.footer__inner {
  display: flex;
  justify-content: space-around;
}
.footer {
  background-color: #fab03e;
  border: 1px solid;
}
.footer__title {
  color: white;
}
.footer__holder {
  border: solid 1px;
  background-color: #6c2c1c;
  color: #af8a82;
}
.footer__icon {
  color: white;
}
.footer__link {
  color: #6d450c;
}
.footer__features--payment {
  border: solid 1px;
}
.footer__features {
  border: solid 1px;
}
.footer__sub-title {
  display: flex;
  justify-content: center;
}
.footer__form-input {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
@media (max-width: 1170px) {
  .header__navigation {
    display: none;
  }
  .header__burgher-btn {
    display: block;
  }
  .header__content {
    padding-top: 200px;
  }
}
@media (max-width: 768px) {
  /* .header__navigation {
        display: flex;
        background-color:#0aa566;
        position: fixed;
        top:0;
        right: 100px;
        left: 0px;
        bottom: 0;
        z-index: 55555555;
        padding: 0;
        margin: 0;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding:100px;
    }  */
  .menu__list {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
  }
  .menu__item {
    height: 40px;
    margin-top: 23px;
    font-size: 25px;
  }
  .header__burgher-btn {
    display: block;
  }
  .header__content {
    padding-top: 200px;
  }
  .smoothies__tittle {
    font-size: 37px;
  }
  .smoothies__description {
    font-size: 30px;
    margin: 10px 37px 10px 37px;
    padding: 0;
  }
  .smoothies__features {
    display: flex;
  }
}
@media (max-width: 460px) {
  /* .header__navigation {
        display: flex;
        background-color:#0aa566;
        position: fixed;
        top:0;
        right: 0px;
        left: 0px;
        bottom: 0;
        z-index: 55555555;
        padding: 0;
        margin: 0;
        flex-direction: column-reverse;
        justify-content: flex-end;
        align-items: center;
        padding:100px;
} */
  .container__details {
    flex-direction: column;
  }
  .header__icon {
    display: none;
  }
  .social {
    margin-top: 24px;
    margin-left: 20px;
  }
}
