// main: ../main.less


.blog {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: MuliExtraBold;

    &__title {
        border: solid 1px;
        font-size: 50px;
        margin: 100px 955px 0 0;
    }

    &__inner {
        border: solid 1px;
        display: flex;
        position: relative;
        margin-bottom: 195px;

        &:before {
            content: "";
            display: inline-block;
            background-image: url(/assets/images/long-line-orange-png.png);
            position: absolute;
            z-index: -777;
            width: 650px;
            height: 10px;
            top: 60px;
            left: 518px;
        }
    }

    &__text {
        border: solid 1px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 60px;

        &-title {
            border: solid 1px;
            font-size: 25px;
            color: #f2612d;
        }
    }

    &__sub-title {
        border: solid 1px;
        line-height: 1.94;
        text-align: left;

        &--sup {
            border: solid 1px;
            font-size: 16px;
            margin-top: 15px;
        }
    }

    &__sub--title {
        border: solid 1px;
        width: 470px;
        margin-left: 80px;
        font-size: 18px;
        font-family: MuliBold;
    }

    &__btn--white {
        font-family: MuliExtraBoldItalic;
    }

    &__img--orange {
        margin-left: 5px;
    }

    &__link {
        border: solid 1px;
    }
}
