// main: ../main.less


button {
    background-color: transparent;
    border:none;
}

.btn--green-bg{
    background-color:#0aa566;
    border-radius:@borderRadius;
    width: 223px;
    height: 71px;
    
}