// main: ../main.less


.testimonials{
    height: 720px;
    border:solid 1px;
    background-color: #672f1b;
    display:flex;
    flex-direction: column;
    align-items:center;
&__inner{
        border:solid 1px;
        margin-top: 123px;
        }
&__title{
            font-family:@muliExtraBold;
            font-size: 50px;
}
&__Love{
        color: #f2612d;
        }
&__items{
        display: flex;
        justify-content: center;
        margin:123px 0 70px 0;
        position: relative;
        z-index: 3;
    
&::before{
        content:"";
        width: 764px;
        height: 150px;
        background-image: url(../../assets/images/sarah-a-png.png);
        top: -35px;
        right: 125px;
        position: absolute;
        z-index: -1;
    }
}
&__text{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 50px;
        padding-top: 60px;
}
&__cite-text{
            border:solid 1px;
            width: 450px;
            font-family: @muli-Regular;
            font-size: @baseFontSize*1.8;
            font-weight: normal;
            color: #ffffff;
            font-weight: 600;
            text-align: center;
            line-height: 35px;
}
        &__cite-autor{
            border:solid 1px;
            color:orange;
            margin-top: 30px;
            font-family: @poppinsSemiBold;
        }
    
    
&__img{
        position: relative;
    
    &::after{
        content:"";
        width: 410px;
        height: 300px;
        background-image: url(../../assets/images/Dots-img.png);
        position: absolute;
        left: 165px;
        bottom: 310px;
    }
}
&__button{
        border:solid 1px;
}
        &__btn--yellowLeft{
            border:solid 1px;
        }
        &__btn--yellow{
            border:solid 1px;
            width: 34px;
            margin-left: 100px;
        }
    }

    
    






